<div class="container">
  <div class="header">

    <div class="color" [ngClass]="{'activeTurn':turn==player1}">
      <div class="text player1" [ngClass]="true ? 'color'+colorPlayer1 : ''">
        {{player1}}
      </div>
      <div class="color-menu">
        <div class="row">
          <div *ngFor="let color of colors" (click)="setColor(1, color)" class="color-menu-element" [ngClass]="true ? 'bg-color'+color : ''" [class.active]="colorPlayer1==color"></div>
        </div>
      </div>
    </div>
    
    <i (click)="togglePlayer()" class='bx bx-transfer'></i>
    
    <div class="color" [ngClass]="{'activeTurn':turn==player2}">
      <div class="text player2" [ngClass]="true ? 'color'+colorPlayer2 : ''">
        {{player2}}
      </div>
      <div class="color-menu">
        <div class="row">
          <div *ngFor="let color of colors" (click)="setColor(2, color)" class="color-menu-element" [ngClass]="true ? 'bg-color'+color : ''" [class.active]="colorPlayer2==color"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid">
    <div #tile0 (click)="markPosition(0)" class="tile empty-tile">{{board[0]}}</div>
    <div #tile1 (click)="markPosition(1)" class="tile empty-tile">{{board[1]}}</div>
    <div #tile2 (click)="markPosition(2)" class="tile empty-tile">{{board[2]}}</div>
    <div #tile3 (click)="markPosition(3)" class="tile empty-tile">{{board[3]}}</div>
    <div #tile4 (click)="markPosition(4)" class="tile empty-tile">{{board[4]}}</div>
    <div #tile5 (click)="markPosition(5)" class="tile empty-tile">{{board[5]}}</div>
    <div #tile6 (click)="markPosition(6)" class="tile empty-tile">{{board[6]}}</div>
    <div #tile7 (click)="markPosition(7)" class="tile empty-tile">{{board[7]}}</div>
    <div #tile8 (click)="markPosition(8)" class="tile empty-tile">{{board[8]}}</div>
  </div>
  
  <div (click)="reset()" class="footer">
    <i class='bx bx-revision'></i>
  
  </div>
</div>